@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
$press-font: 'Press Start 2P', cursive;
@import url('https://fonts.googleapis.com/css?family=Lato');
$lato-font: 'Lato', sans-serif;

$dark-gray-color: #666666;
$dark-blue-color: #1c3144;
$blue-color: #39a5db;
$gray-color: #d8dbe2;
$red-wine-color: #591728;

* {
	font: 101% $lato-font;
	margin: 0;
	padding: 0;
}

.lato {
	font: 100% $lato-font;
}

.press2p {
	font: 95% $press-font;
}

a {
	text-decoration: none;
	color: inherit;
}

i {
	font-size: 1.7em;
}

body {
	display: flex;
	flex-flow: column;
	text-align: center;

	#superior {
		display: flex;
		flex-flow: column;
		background-color: $dark-blue-color;

		nav {
			background-color: $dark-gray-color;
			color: white;

			ul {
				display: flex;
				justify-content: space-around;
				margin: 1% 25%;
				list-style: none;
			}
		}
	}

	.info {
		color: white;
		margin: 10px 10%;
		padding: 0px 5%;
	}

	#medio {
		display: flex;
		flex-flow: column;
		background-color: $red-wine-color;

		div {
			padding: 10px 0px;
		}

		#gamejam_info {
			display: flex;
			flex-flow: row;
			align-items: stretch;
			justify-content: space-between;
			margin-bottom: 30px;

			#formacion {
				width: 42%;
				padding: 10px 2%;
				background-color: $gray-color;
				text-align: right;
				p {
					margin-left: 30%;
					text-align: justify;
				}
			}

			#gamejam {
				width: 42%;
				padding: 10px 2%;
				background-color: $gray-color;
				text-align: left;
				p {
					margin-right: 30%;
					text-align: justify;
				}
			}
		}

		#colaboradores {
			background-color: $gray-color;
			margin: 30px 0px;
			padding: 10px 20%;
		}

		#premios {
			background-color: $gray-color;
			margin: 0px 0px 30px 0px;
			padding: 0px 5%;
		}
	}
	#inferior {
		display: flex;
		flex-flow: column;
		background-color: $dark-blue-color;
		color: white;
		padding-bottom: 30px;

		div {
			padding: 10px;
		}

		#pjsfoto {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			align-items: center;
			margin: 0px 20%;

			i {
				margin-right: 10px;
			}

			#campos {
				width: 85%;
				p {
					width: 100%;
					margin: 10px 0px;
				}
				input {
					color: white;
					margin-left: 10px;
					padding: 3px;
					border: 0;
					outline: 0;
					background: transparent;
					border-bottom: 1px solid white;
					transition: 0.8s ease-out;

					&:focus {
						box-shadow: inset 400px 0 0 0 white;
  						color: black;
					}
				}
			}
			#pjs {
				width: 40%;
				i {
					opacity: 0;
					transition: 0.5s ease-in;
					font-size: 7em;
				}
			}
		}

		.submitBox {
			font-family: $press-font;
			border-bottom: 1px solid white;
			transition: 0.8s ease-out;
			color: white;
			border: 0;
			outline: 0;
			background: transparent;
			padding: 10px;
			cursor:pointer;

			&:hover {
				box-shadow: inset 0px -80px 0px 0px white;
				color: black;
				cursor: pointer;
			}

			&:focus {
				color: white;
				transition: 0s;
				box-shadow: inset 0px -80px 0px 0px $red-wine-color;
				cursor: pointer;
			}
		}
	}
}

