@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
$press-font: 'Press Start 2P', cursive;
@import url('https://fonts.googleapis.com/css?family=Lato');
$lato-font: 'Lato', sans-serif;

$dark-gray-color: #666666;
$dark-blue-color: #1c3144;
$blue-color: #39a5db;
$gray-color: #d8dbe2;
$red-wine-color: #591728;

* {
	font: 101% $lato-font;
	margin: 0;
	padding: 0;
}

.lato {
	font: 100% $lato-font;
}

.press2p {
	font: 95% $press-font;
}

.press2p-inline {
	font: 95% $press-font;
	font-size: 0.6em;
	vertical-align: middle;
}

.shadow {
	box-shadow: 0px 0px 10px 0px black;
}

.title {
	background-color: $blue-color;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

i {
	font-size: 1.7em;
}

b {
	font-weight: bold;
}

ul {
	list-style: none;

	&.withDots {
		list-style: circle !important;
		margin-left: 40px;
	}
}

body {
	display: flex;
	flex-flow: column;
	text-align: center;

	header {
		background: $dark-blue-color;
		background: url(https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.pHz_04fcr9abI0abYoBTxAHaFj%26pid%3D15.1&f=1) center bottom fixed;
		background-size: cover;
		flex-flow: column;
		min-height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		#logo {
			margin-top: auto;

			img {
				width: 30%;
				height: 100%;
			}
		}


		nav {
			background-color: #d8dbe2;
			color: black;
			margin-top: auto;
			min-height: 10vh;
			max-height: 10vh;
			align-items: center;
			display: flex;
			justify-content: space-evenly;
			font-size: 1.2em;
			flex-flow: row;
			padding: 0 14%;

			ul {
				display: flex;
				justify-content: space-around;
				margin: 1% 25%;
			}
		}
	}

	.info {
		color: white;
		margin: 30px 10%;
		padding: 0px 5%;
	}

	.intro {
		max-width: 85%;
		margin: auto;
	}

	#primero {
		display: flex;
		flex-flow: column;
		background-color: $red-wine-color;

		div {
			padding: 10px 0px;
		}

		#presentation {
			margin-left: auto;
			width: 60%;
			margin-right: auto;
		}

		#gamejam_info {
			display: flex;
			flex-flow: column;
			align-items: stretch;
			justify-content: space-between;
			background: url(../images/backgroundinfo.png) center fixed;

			.title {
				text-align: center;
				padding: 20px 0px;
			}

			.panel-text {
				text-align: justify;
				padding: 20px 30px;
			}

			#left-panel {
				width: 50%;
				padding: 0 !important;
				background-color: white;
				margin: 20px 10% 60px;			
			}

			#right-panel {
				width: 50%;
				padding: 0 !important;
				background-color: white;
				display: flex;
				flex-flow: column;
				margin: 0px 10% 60px auto;
			}

			#colaboradores {
				padding: 0 !important;
				background-color: white;
				width: 60%;
				margin: auto;
				margin-bottom: 40px;
			}
		}

	}

	#segundo {
		display: flex;
		flex-flow: column;
		background-color: $dark-blue-color;
		color: white;
		padding-bottom: 30px;

		#pjs {
			margin: 15px 30px;
			i {
				margin: 0px 2%;
				font-size: 5em;
			}
		}

		#conditions {
			text-align: justify;
			font-size: 80%;
			max-width: 70%;
			margin: 25px auto;

			li {
				margin: 5px auto;
			}

			.press2p {
				font-family: $press-font;

				.remark {
					color: #89fe5d;
				}
			}
		}

		#premios {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			margin: 30px auto 0px;

			.prize {
				font-size: 0.8em;
				max-width: 210px;
				margin: 15px auto;
				background: $blue-color;

				ul {
					padding: 0px 20px 15px;
				}

				.badFix {
					background-color: $dark-blue-color;
					padding-bottom: 15px;
				}

				.first_prize {
					color: gold;
					font-size: 2em;
				}

				.second_prize {
					color: silver;
					font-size: 2em;
				}

				.third_prize {
					color: #B87333;
					font-size: 2em;
				}

				img {
					margin: 20px auto 10px;
					max-width: 180px;
					width: 100%;
				}
			}
		}

		.submitBox {
			font-family: $press-font;
			border-bottom: 1px solid white;
			transition: 0.8s ease-out;
			color: black;
			border: 0;
			outline: 0;
			background: white;
			margin-top: 10px;
			padding: 10px;
			cursor:pointer;

			&:hover {
				box-shadow: inset 0px -80px 0px 0px $red-wine-color;
				color: white;
				cursor: pointer;
			}

			&:focus {
				color: black;
				transition: 0s;
				box-shadow: inset 0px -80px 0px 0px white;
				cursor: pointer;
			}
		}
	}

	footer {
		.wrapper {
			margin: 20px auto;

			.media {
				display: flex;
				justify-content: space-around;
				align-items: center;

				img {
					max-width: 50px;
				}

				ul {
					text-align: left;
					margin: 0px 20px 15px 0px;
				}

				.fab {
					font-size: 1.5em;
					margin-right: 20px;
				}

				.fa-github:hover {
					transition: 0.4s ease-in-out;
					color: #2dba4e;
				}

				.fa-youtube:hover {
					transition: 0.4s ease-in-out;
					color: #cc181e;
				}

				.fa-twitter:hover {
					transition: 0.4s ease-in-out;
					color: #00b2ff;
				}
			}
		}

		.legal {
			margin: 10px auto;
		}
	}	
}

