@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  font: 101% "Lato", sans-serif;
  margin: 0;
  padding: 0; }

.lato {
  font: 100% "Lato", sans-serif; }

.press2p {
  font: 95% "Press Start 2P", cursive; }

a {
  text-decoration: none;
  color: inherit; }

i {
  font-size: 1.7em; }

body {
  display: flex;
  flex-flow: column;
  text-align: center; }
  body #superior {
    display: flex;
    flex-flow: column;
    background-color: #1c3144; }
    body #superior nav {
      background-color: #666666;
      color: white; }
      body #superior nav ul {
        display: flex;
        justify-content: space-around;
        margin: 1% 25%;
        list-style: none; }
  body .info {
    color: white;
    margin: 10px 10%;
    padding: 0px 5%; }
  body #medio {
    display: flex;
    flex-flow: column;
    background-color: #591728; }
    body #medio div {
      padding: 10px 0px; }
    body #medio #gamejam_info {
      display: flex;
      flex-flow: row;
      align-items: stretch;
      justify-content: space-between;
      margin-bottom: 30px; }
      body #medio #gamejam_info #formacion {
        width: 42%;
        padding: 10px 2%;
        background-color: #d8dbe2;
        text-align: right; }
        body #medio #gamejam_info #formacion p {
          margin-left: 30%; }
      body #medio #gamejam_info #gamejam {
        width: 42%;
        padding: 10px 2%;
        background-color: #d8dbe2;
        text-align: left; }
        body #medio #gamejam_info #gamejam p {
          margin-right: 30%; }
    body #medio #colaboradores {
      background-color: #d8dbe2;
      margin: 30px 0px;
      padding: 10px 20%; }
    body #medio #premios {
      background-color: #d8dbe2;
      margin: 0px 0px 30px 0px;
      padding: 0px 5%; }
  body #inferior {
    display: flex;
    flex-flow: column;
    background-color: #1c3144;
    color: white;
    padding-bottom: 30px; }
    body #inferior div {
      padding: 10px; }
    body #inferior #pjsfoto {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      margin: 0px 20%; }
      body #inferior #pjsfoto i {
        margin-right: 10px; }
      body #inferior #pjsfoto #campos {
        width: 85%; }
        body #inferior #pjsfoto #campos p {
          width: 100%;
          margin: 10px 0px; }
        body #inferior #pjsfoto #campos input {
          color: white;
          margin-left: 10px;
          padding: 3px;
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid white;
          transition: 0.8s ease-out; }
          body #inferior #pjsfoto #campos input:focus {
            box-shadow: inset 400px 0 0 0 white;
            color: black; }
      body #inferior #pjsfoto #pjs {
        width: 40%; }
        body #inferior #pjsfoto #pjs i {
          opacity: 0;
          transition: 0.5s ease-in;
          font-size: 7em; }
    body #inferior #submitBox {
      font-family: "RPGAwesome", "Press Start 2P", cursive;
      border-bottom: 1px solid white;
      transition: 0.8s ease-out;
      color: white;
      border: 0;
      outline: 0;
      background: transparent;
      padding: 10px; }
      body #inferior #submitBox:hover {
        box-shadow: inset 0px -80px 0px 0px white;
        color: black;
        cursor: pointer; }
      body #inferior #submitBox:focus {
        color: white;
        transition: 0s;
        box-shadow: inset 0px -80px 0px 0px #591728;
        cursor: pointer; }

/*# sourceMappingURL=main.css.map */
