@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
$press-font: 'Press Start 2P', cursive;
@import url('https://fonts.googleapis.com/css?family=Lato');
$lato-font: 'Lato', sans-serif;

$dark-gray-color: #666666;
$dark-blue-color: #1c3144;
$blue-color: #39a5db;
$gray-color: #d8dbe2;
$red-wine-color: #591728;

* {
	font: 101% $lato-font;
	margin: 0;
	padding: 0;
}

.lato {
	font: 100% $lato-font;
}

.press2p {
	font: 95% $press-font;
}

a {
	text-decoration: none;
	color: inherit;
}

i {
	font-size: 1.7em;
}

body {
	display: flex;
	flex-flow: column;
	text-align: center;

	header {
		background: $dark-blue-color;
		background: url(https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.pHz_04fcr9abI0abYoBTxAHaFj%26pid%3D15.1&f=1) center bottom fixed;
		background-size: cover;
		flex-flow: column;
		min-height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		#logo {
			margin-top: auto;
			background: #0000001a;

			img {
				width: 45%;
			}
		}


		nav {
			background-color: $dark-gray-color;
			color: white;
			margin-top: auto;

			ul {
				display: flex;
				justify-content: space-around;
				margin: 1% 25%;
				list-style: none;
			}
		}
	}

	.info {
		color: white;
		margin: 10px 10%;
		padding: 0px 5%;
	}

	#primero {
		display: flex;
		flex-flow: column;
		background-color: $red-wine-color;

		div {
			padding: 10px 0px;
		}

		#gamejam_info {
			display: flex;
			flex-flow: row;
			align-items: stretch;
			justify-content: space-between;
			margin-bottom: 30px;

			#formacion {
				width: 42%;
				padding: 10px 2%;
				background-color: $gray-color;
				text-align: right;
				p {
					margin-left: 30%;
					text-align: justify;
				}
			}

			#gamejam {
				width: 42%;
				padding: 10px 2%;
				background-color: $gray-color;
				text-align: left;
				p {
					margin-right: 30%;
					text-align: justify;
				}
			}
		}

		#colaboradores {
			background-color: $gray-color;
			margin: 30px 0px;
			padding: 10px 20%;
		}

		#premios {
			background-color: $gray-color;
			margin: 0px 0px 30px 0px;
			padding: 0px 5%;
		}
	}

	#segundo {
		display: flex;
		flex-flow: column;
		background-color: $dark-blue-color;
		color: white;
		padding-bottom: 30px;

		#pjs {
			margin: 15px 30px;
			i {
				margin: 0px 2%;
				font-size: 5em;
			}
		}

		.submitBox {
			font-family: $press-font;
			border-bottom: 1px solid white;
			transition: 0.8s ease-out;
			color: black;
			border: 0;
			outline: 0;
			background: white;
			margin-top: 10px;
			padding: 10px;
			cursor:pointer;

			&:hover {
				box-shadow: inset 0px -80px 0px 0px $red-wine-color;
				color: white;
				cursor: pointer;
			}

			&:focus {
				color: black;
				transition: 0s;
				box-shadow: inset 0px -80px 0px 0px white;
				cursor: pointer;
			}
		}
	}

	footer {
		.wrapper {
			margin: 20px auto;

			.media {
				display: flex;
				justify-content: space-around;
				align-items: center;

				img {
					max-width: 50px;
				}

				ul {
					display: inline-flex;
					align-items: center;
					list-style: none;

					li {
						margin-right: 20px;
					}
				}

				.fab {
					font-size: 2em;
					margin-right: 20px;
				}

				.fa-github:hover {
					transition: 0.5s ease-in-out;
					color: #2dba4e;
				}

				.fa-youtube:hover {
					transition: 0.5s ease-in-out;
					color: #cc181e;
				}

				.fa-twitter:hover {
					transition: 0.5s ease-in-out;
					color: #00b2ff;
				}
			}
		}

		.legal {
			margin: 10px auto;
		}
	}	
}

