@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  font: 101% "Lato", sans-serif;
  margin: 0;
  padding: 0; }

.lato {
  font: 100% "Lato", sans-serif; }

.press2p {
  font: 95% "Press Start 2P", cursive; }

.press2p-inline {
  font: 95% "Press Start 2P", cursive;
  font-size: 0.6em;
  vertical-align: middle; }

.shadow {
  box-shadow: 0px 0px 10px 0px black; }

.title {
  background-color: #39a5db;
  color: white; }

a {
  text-decoration: none;
  color: inherit; }

i {
  font-size: 1.7em; }

b {
  font-weight: bold; }

ul {
  list-style: none; }
  ul.withDots {
    list-style: circle !important;
    margin-left: 40px; }

body {
  display: flex;
  flex-flow: column;
  text-align: center; }
  body header {
    background: #1c3144;
    background: url(https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.pHz_04fcr9abI0abYoBTxAHaFj%26pid%3D15.1&f=1) center bottom fixed;
    background-size: cover;
    flex-flow: column;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    body header #logo {
      margin-top: auto; }
      body header #logo img {
        width: 30%;
        height: 100%; }
    body header nav {
      background-color: #d8dbe2;
      color: black;
      margin-top: auto;
      min-height: 10vh;
      max-height: 10vh;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.2em;
      flex-flow: row;
      padding: 0 14%; }
      body header nav ul {
        display: flex;
        justify-content: space-around;
        margin: 1% 25%; }
  body .info {
    color: white;
    margin: 30px 10%;
    padding: 0px 5%; }
  body .intro {
    max-width: 85%;
    margin: auto; }
  body #primero {
    display: flex;
    flex-flow: column;
    background-color: #591728; }
    body #primero div {
      padding: 10px 0px; }
    body #primero #presentation {
      margin-left: auto;
      width: 60%;
      margin-right: auto; }
    body #primero #gamejam_info {
      display: flex;
      flex-flow: column;
      align-items: stretch;
      justify-content: space-between;
      background: url(../images/backgroundinfo.png) center fixed; }
      body #primero #gamejam_info .title {
        text-align: center;
        padding: 20px 0px; }
      body #primero #gamejam_info .panel-text {
        text-align: justify;
        padding: 20px 30px 40px; }
      body #primero #gamejam_info #left-panel {
        width: 50%;
        padding: 0 !important;
        background-color: white;
        margin: 20px 10% 60px; }
      body #primero #gamejam_info #right-panel {
        width: 50%;
        padding: 0 !important;
        background-color: white;
        display: flex;
        flex-flow: column;
        margin: 0px 10% 60px auto; }
      body #primero #gamejam_info #aprender {
        padding: 0 !important;
        background-color: white;
        width: 60%;
        margin: auto;
        margin-bottom: 40px; }
        body #primero #gamejam_info #aprender .two-columns {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between; }
          body #primero #gamejam_info #aprender .two-columns .column {
            width: 47%;
            text-align: center; }
            body #primero #gamejam_info #aprender .two-columns .column div {
              text-align: justify; }
        body #primero #gamejam_info #aprender #pygame_logo, body #primero #gamejam_info #aprender #godot_logo {
          width: 40%; }
  body #segundo {
    display: flex;
    flex-flow: column;
    background-color: #1c3144;
    color: white;
    padding-bottom: 30px; }
    body #segundo #pjs {
      margin: 15px 30px; }
      body #segundo #pjs i {
        margin: 0px 2%;
        font-size: 5em; }
    body #segundo #conditions {
      text-align: justify;
      font-size: 80%;
      max-width: 70%;
      margin: 25px auto; }
      body #segundo #conditions li {
        margin: 10px auto; }
      body #segundo #conditions .press2p {
        font-family: "Press Start 2P", cursive; }
        body #segundo #conditions .press2p .remark {
          color: #89fe5d; }
    body #segundo #premios {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      margin: 30px auto 0px; }
      body #segundo #premios .prize {
        font-size: 0.8em;
        max-width: 210px;
        margin: 15px auto;
        background: #39a5db; }
        body #segundo #premios .prize ul {
          padding: 0px 20px 15px; }
        body #segundo #premios .prize .badFix {
          background-color: #1c3144;
          padding-bottom: 15px; }
        body #segundo #premios .prize .first_prize {
          color: gold;
          font-size: 2em; }
        body #segundo #premios .prize .second_prize {
          color: silver;
          font-size: 2em; }
        body #segundo #premios .prize .third_prize {
          color: #B87333;
          font-size: 2em; }
        body #segundo #premios .prize img {
          margin: 20px auto 10px;
          max-width: 180px;
          width: 100%; }
    body #segundo .submitBox {
      font-family: "Press Start 2P", cursive;
      border-bottom: 1px solid white;
      transition: 0.8s ease-out;
      color: black;
      border: 0;
      outline: 0;
      background: white;
      margin-top: 10px;
      padding: 10px;
      cursor: pointer; }
      body #segundo .submitBox:hover {
        box-shadow: inset 0px -80px 0px 0px #591728;
        color: white;
        cursor: pointer; }
      body #segundo .submitBox:focus {
        color: black;
        transition: 0s;
        box-shadow: inset 0px -80px 0px 0px white;
        cursor: pointer; }
  body footer .wrapper {
    margin: 20px auto; }
    body footer .wrapper .media {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body footer .wrapper .media img {
        max-width: 50px; }
      body footer .wrapper .media ul {
        text-align: left;
        margin: 0px 20px 15px 0px; }
      body footer .wrapper .media .fab {
        font-size: 1.5em;
        margin-right: 20px; }
      body footer .wrapper .media .fa-github:hover {
        transition: 0.4s ease-in-out;
        color: #2dba4e; }
      body footer .wrapper .media .fa-youtube:hover {
        transition: 0.4s ease-in-out;
        color: #cc181e; }
      body footer .wrapper .media .fa-twitter:hover {
        transition: 0.4s ease-in-out;
        color: #00b2ff; }
  body footer .legal {
    margin: 10px auto; }

/*# sourceMappingURL=main.css.map */
