/************* GLOBAL *************/
:root {
    font-family: Geneva_9, cursive;
}

.title {
    font-family: Chicago, cursive;

    @media (max-width: 1200px) {
        font-size: 1.3rem !important;
    }

    @media (min-width: 1200px) {
        font-size: 1.6rem !important;
    }
}

.paragraph {
    font-family: Geneva_9, cursive;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body > div {
    @media (max-width: 1200px) {
        width: 90%;
        margin: 1vh auto;
    }

    @media (min-width: 1200px) {
        width: 80%;
        margin: 2vh auto;
    }
}


#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

/************* HEADER *************/
#shortcuts-container-big {
    margin: 0 auto 0 0 !important;
    font-size: 25px;

    @media (max-width: 730px) {
        /* hidden */
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

#shortcuts-container-small {
    margin: 0 auto 0 0 !important;
    font-size: 180%;

    @media (min-width: 730px) {
        /* hidden */
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2rem auto 3rem auto;
}

#heading h2 {
    font-size: 3rem;
    margin-bottom: 6px;
}

#heading h3 {
    font-size: 3.5rem;
    margin: 0 auto 6px auto;
}

/************* MAIN CONTENT *************/
#content {
    margin: 10px auto auto auto;
}

#introduction {
    display: flex;
    flex-direction: row;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

#introduction .window {
    @media (min-width: 1200px) {
        width: 80% !important;
        margin: 5px 10px;
    }

    @media (max-width: 1200px) {
        width: auto !important;
        margin: 5px 10px;

        min-width: auto !important; /* Esta mierda */
    }
}

#introduction .title-bar, #introduction .separator {
    min-width: 100%;
}

#introduction .window p {
    padding: 5px 15px;
}

#introduction .window > div {
    max-width: 60vw;
}

#introduction .window > iframe {
    width: 100% !important;
    height: 100% !important;
}

#creditos {
    margin: auto auto 5px 5px;
    font-size: 2rem;
}

/************* CHARLAS *************/
#selector-dias {
    width: 60%;
    margin: 0.2rem auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.botones-dias {
    font-size: 25px !important;
    padding: 0 6% !important;
    margin: 0 auto 10px !important;
}

/* ----------------------------- */

.charlas-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    height: fit-content;

    font-size: 35px;
}

.charlas-diarias {
    display: flex;
    flex-direction: row;
    height: 100%;

    padding: 15px;

    @media (max-width: 730px) {
        flex-direction: column;
        padding: 0;
    }
}

.charlas-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;

    margin-right: auto;
    padding: 2% 3%;

    @media (max-width: 730px) {
        width: auto;
        margin: auto;
        padding: 5% 0 0 0;
    }
}

.charlas-selector label {
    font-size: 25px;
}

.boton-charla {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;

    @media (max-width: 730px) {
        width: 90%;
        margin: auto;
    }
}

.boton-charla > label {
    justify-content: left;
    text-align: left;
}

.descripcion-titulo-btn {
    margin-bottom: 10px;
}

/* ----------------------------- */

.charlas-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 60%;

    margin: 20px 15px 20px auto;

    @media (max-width: 730px) {
        margin: 8px auto;
        width: 90%;
    }
}

.descripcion-ponencia {
    display: flex;
    flex-direction: row;
}

/************* COLABORACIONES *************/
#colaboraciones {
    display: flex;
    flex-direction: column;
}

#colaboraciones > div {
    display: flex;
    flex-direction: row;

    align-content: center;
    align-items: center;
    justify-content: center;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

#colaboraciones img {
    width: 30%;
    margin: 15px 30px 15px;

    @media (max-width: 800px) {
        width: 80%;
    }
}


/************* FOOTER *************/
#footer {
    margin: 0 auto auto auto;
}

#footer p {
    margin: 0 auto 10px auto;
    font-size: 2rem;
}