<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GUL Jamón</title>

    <link href="static/style/main.css" rel="stylesheet">
    <link href="static/style/fonts/rpg-awesome-master/css/rpg-awesome.min.css" rel="stylesheet">
    <script src="static/scripts/main.js" type="text/javascript"></script>
</head>

<body>
	<div id="superior">
		<div>
			AQUI VA UNA SUPER IMAGEN O ARGO
		</div>
		<nav>
			<ul>
				<li><a href="#medio">Información</a></li>
				<li><a href="#inferior">Inscripción</a></li>
				<li><a href="#about">Conócenos</a></li>
			</ul>
		</nav>
	</div>
	<div id="medio">
		<div class="info"> OBJETIVO DE LA GUL JAMÓN. <br> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="gamejam_info">
			<div id="formacion"> <i class="ra ra-wooden-sign"></i> INFO SOBRE FORMACION <br> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div id="gamejam"> INFO SOBRE LA GAME JAM <i class="ra ra-gamepad-cross"></i> <br> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
		<div id="colaboradores">
			<i class="ra ra-double-team"></i> ¿Colaboradores? <br> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
		</div>
		<div id="premios">
			<!-- A escoger uno de los dos iconos -->
			<i class="ra ra-trophy"></i> PREMIOOOSSSHH MI TESHOOOOooooro <i class="ra ra-podium"></i>
		</div>
	</div>
	<div id="inferior">
		<div class="info">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		</div>
		<a class="typeform-share button" href="https://danielrodriguez6.typeform.com/to/B6XaqP" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank"><button class="submitBox"><i class="ra ra-scroll-unfurled"></i> Regístrate </button></a><script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
	</div>
	<div id="about">
		SOMO EL GUL GULELELELEL
	</div>
</body>

</html>